# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*~

# Env
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.python-version

# Ruby
*.gem
.bundle/
vendor/bundle/

# .NET
bin/
obj/
*.user
*.suo
*.userprefs

# Logs
*.log
